.root {
    -fx-font-family: 'Calibri';
    -fx-font-size: 18px;
    -fx-background-color: #f6f7ec;
    -fx-font-color: #010101;
}

.button {
    -fx-background-color: #ffdce2;
    -fx-border-radius: 50px;
    -fx-border-color: #f0c0c8;
    -fx-border-width: 2px;
    -fx-background-radius: 50px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #f0c0c8;
    -fx-border-color: #ffdce2;
}